body {
    background-color: #2f3233;
    margin: 0;
}

h1, h2 {
    text-align: center;
    background-color: #000000;
    color: #f3aa8e;
}

p {
    box-sizing: border-box;
    padding: 0 15px;
    text-align: justify;
    color: #557aad;
}

img {
    width: 1800px;
}

ul {
    font-size: 30px;
    text-align: center;
    background-color: #557aad;
}

li {
    font-size: 18px;
    text-align: left;
}