* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.d-center {
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    height: 83px;
    padding: 0 32px;
    justify-content: space-between;
}

.header_left__txt {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.nav_menu {
    column-gap: 48px;
}

.nav_menu__items {
    column-gap: 9px;
}

.nav_menu__item a,
.header_right__item a {
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    text-decoration: none;
}

.nav_menu__down i {
    font-size: 10px;
    font-weight: bold;
}

.nav_menu__items a {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.header_right {
    column-gap: 24px;
}

.header_right__button {
    padding: 14px 29px;
    background: #0B2330;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    transition: box-shadow .35s;
}

.header_right__button:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
}

.first_screen {
    justify-content: space-between;
}

.first_screen__left {
    margin: 154px 233px 0 147px;
}

.first_screen__title {
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 1px;
    color: #0B2330;
    margin-bottom: 32px;
}

.first_screen__txt {
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    padding-right: 20px;
    margin-bottom: 38px;
}

.first_screen__buttons {
    column-gap: 16px;
}

.start, .talk {
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 29px;
    cursor: pointer;
    transition: box-shadow .35s;
}

.start {
    background: #F9C600;
    border: 1px solid #F9C600;
    color: #0B2330;
}

.talk {
    border: 1px solid #0B2330;
    background: #fff;
    color: #000000;
}

.start:hover, .talk:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
}

.first_screen__yellow {
    width: 600px;
    height: 886px;
    background: #F9C600;
    flex-direction: column;
    justify-content: space-between;
}

.first_screen__video {
    position: relative;
    top: 172px;
    right: 102px;
}

.first_screen__vector img {
    background: #F9C600;
}

.second_screen {
    padding: 189px 30px 192px 30px;
}

.second_screen h2 {
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 1px;
    color: #0B2330;
    margin: 0 400px 59px 400px;
}

.second_screen__wrap {
    flex-wrap: wrap;
    column-gap: 45px;
    row-gap: 16px;
}

.third_screen {
    column-gap: 20px;
    background: #51CEBC;
    border-radius: 10px;
    margin: 0 32px;
    padding: 114px 121px 56px 0;
}

.third_screen__txt h3 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #0B2330;
    margin-bottom: 35px;
}

.third_screen__txt p {
    font-size: 22px;
    line-height: 32px;
    color: #0B2330;
}

.forth_screen {
    flex-direction: column;
    align-items: center;
    row-gap: 57px;
    margin-top: 191px;
}

.forth_screen h2 {
    margin: 0 364px;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
    color: #0B2330;
}

.forth_screen button {
    margin: 56px 0 160px;
}

.fifth_screen {
    margin: 0 32px 136px 148px;
    background: #BD78F0;
    border-radius: 10px;
}

.fifth_screen__wrap {
    column-gap: 136px;
    margin: 64px 0;
    position: relative;
    right: 116px;
}

.fifth_screen__txt {
    padding-top: 39px;
}

.fifth_screen__txt h3 {
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 1px;
    color: #0B2330;
}

.fifth_screen__txt p {
    margin-top: 39px;
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
}

.sixth_screen {
    padding-left: 148px;
}

.solutions {
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6A7981;
    margin-bottom: 13px;
}

.sixth_screen h3 {
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 1px;
    color: #0B2330;
    margin-bottom: 26px;
}

.help {
    font-size: 22px;
    line-height: 32px;
    color: #375361;
}

.seventh_screen {
    margin: 226px 0 148px;
    padding: 0 32px 0 148px;
    flex-direction: column;
    row-gap: 121px;
}

.seventh_screen__wrap {
    justify-content: space-between;
}

.seventh_screen__wrap h3 {
    margin: 23px 0 29px;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #0B2330;
}

.seventh_screen__wrap p {
    margin-bottom: 64px;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}

.white_btn {
    padding: 15px 29px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    background: #fff;
    color: #000000;
    cursor: pointer;
    transition: box-shadow .35s;
}

.white_btn:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
}

.seventh_screen__buttons {
    margin-top: 18px;
    column-gap: 8px;
}

.seventh_screen__button,
.seventh_screen__y-button {
    padding: 3px 20px 3px 8px;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.seventh_screen__buttons button {
    cursor: pointer;
    transition: box-shadow .35s;
}

.seventh_screen__button {
    background: #E7EAEB;
    color: #61757E;
}

.seventh_screen__y-button {
    background: #FE9F28;
    color: #0B2330;
}

.seventh_screen__button:hover,
.seventh_screen__y-button:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
}

.eight_screen {
    padding: 96px 122px;
    background: #F2EDE7;
}

.features {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #375361;
    margin-bottom: 10px;
}

.eight_screen > h2 {
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 1px;
    color: #0B2330;
    margin-bottom: 120px;
    padding-right: 132px;
}

.eight_screen__wrap {
    justify-content: space-between;
}

.eight_screen__inner {
    padding-bottom: 23px;
}

.eight_screen__txt {
    width: 588px;
    border-top: 2px solid #C9316F;
    border-bottom: 2px solid #C3CACD;
    padding-top: 25px;
}

.txt-up, .txt-down {
    font-size: 17px;
    line-height: 28px;
    color: #375361;

}

.txt-up {
    margin-top: 25px;
}

.txt-down {
    margin: 35px 0;
}

.txt-a a {
    font-size: 16px;
    line-height: 28px;
    color: #0B2330;
    text-decoration: none;
}

.txt-a i {
    font-size: 10px;
}

.eight_screen__sml-txt {
    justify-content: space-between;
    align-items: center;
}

.eight_screen__sml-txt h4 {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
}

.main-sml-txt {
    height: 80px;
    border-top: 2px solid #C3CACD;
}

.nine_screen {
    justify-content: space-between;
    padding: 160px 0 240px 148px;
}

.nine_screen__left {
    width: 667px;
}

.nine_screen__up {
    margin: 24px 0 15px;
}

.nine_screen__left h3 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #0B2330;
}

.nine_screen__down {
    margin: 37px 0;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}

.ten_screen {
    padding-left: 116px;
    margin: 0 32px 46px 32px;
    background: #F2EDE7;
    border-radius: 10px;
    justify-content: center;
}

.ten_screen__left {
    padding: 80px 152px 0 0;
    width: 311px;
}

.ten_screen__left h4 {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
}

.ten_screen__txt {
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
    margin: 27px 0 36px;
}

.ten_screen__btn {
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    background: #F2EDE7;
    color: #000000;
    padding: 15px 29px;
    cursor: pointer;
    transition: box-shadow .35s;
}

.ten_screen__btn:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
}

.ten_screen__right {
    width: 794px;
    background: #F9C600;
    border-radius: 0 10px 10px 0;
}

.ten_screen__img {
    position: absolute;
}

.ten_screen__wrap {
    padding: 79px 121px 81px 116px;
}

.ten_screen__wrap h2 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 81px;
}

.ten_screen__pm {
    align-items: center;
    column-gap: 24px;
}

.pm_name {
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
}

.pm_position {
    font-size: 17px;
    line-height: 28px;
    color: #2F3F48;
}

.footer {
    padding: 53px 32px 216px 32px;
    background: #0B2330;
}

.footer_up {
    flex-direction: column;
    align-items: center;
}

.footer_up h2 {
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.footer_up p {
    margin: 31px 0 36px 0;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.footer_down {
    margin-top: 95px;
    padding-top: 80px;
    border-top: 1px solid #375361;
}

.footer_down__columns {
    column-gap: 40px;
}

.footer_down__columns > div {
    width: 196px;
}

.footer_down__columns p {
    font-size: 16px;
    line-height: 24px;
    color: #F9C600;
}

.footer_down__columns li {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: #94A0A4;
    margin-top: 13px;
}

.footer_down__end {
    justify-content: space-between;
    align-items: center;
    margin: 69px 150px 0 237px;
}

.footer_down__end p {
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
}

.footer_logos {
    column-gap: 24px;
}